# FastAPI 및 웹 서버
fastapi
uvicorn
starlette
python-dotenv
httpx

# OAuth 및 인증
authlib
itsdangerous # for SessionMiddleware
python-jose[cryptography] # JWT 토큰 검증
requests

# 데이터베이스
motor
pymongo

# AWS SDK
boto3

# GCP SDK
google-cloud-logging
google-auth

# Azure SDK
azure-identity
azure-monitor-query
azure-mgmt-resource

# 유틸리티
pydantic